body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    height: 100%;
    align-items: center;
    justify-content: center;
}

section {
    margin-bottom: 2rem;
}

i {
    color: yellow
}

#Lancamento {
    background: rgb(3, 236, 236);
}

#Entrevista {
    background: rgb(0, 255, 255)
}

.footer {
    background-color:grey
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #ff0000;
    margin-bottom: 0rem;
    margin-top: 2rem;
}

h3 {
    font-weight: 600;
    font-size: 1.6rem;
}

h2 {
    font-weight: 700;
    font-size: 1.7rem;
    color: #ffd900;
    margin-bottom: 0;
}

h4 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
}

.logo {
    width: 70%;
}

.header {
    background-color: red
}

li {
    border-radius: 15px;
}

.mouse:hover {
    opacity: 60%;
}

.container-fluid {
    background: transparent;
}

.container {
    background: transparent;
}

.header a {
    font-size: 0.9rem;
    color: white !important;
}

.btn-outline-success {
    color: white;
    border-color:#18091f;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: blue
    
}


.video iframe {
    margin-left: 8rem;
}

.descricao h3, .sinopse, .info p, .p-avaliacao, .avaliacao {
    margin-left: -1rem;
}

.p-avaliacao {
    font-weight: 700;
}

.elenco {
    font-weight: 700;
}

.descricao {
    margin-left: -3rem;
}

.sinopse {
    text-align: justify;
}

.carousel-indicators {
margin-bottom: -2rem;
}

#carrossel {
    margin-top: 2rem;
    margin-bottom: 2rem;
}



#destaque button {
    margin-top: 2rem;
}

#Destaque h2 {
    margin-bottom: 1rem;
}

.categorias {
    font-weight: 500;
    margin-left: 31rem ;
    
}
.colapso {
    width: 50%;
    margin-left: 19.5rem;
}

.em-Destaque {
    margin-bottom: 1rem;
}
.card-body {
    padding: 0;
}

.fa-bars {
    color: white;

}
a:hover {
    color: #18091f;
}

.btn-primary:hover {
    color: #fff;
    background-color: rgb(255, 17, 0)
  
}

.btn-primary {
    border-color: rgb(255, 8, 0);
    background-color: rgb(255, 0, 0);
    
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
    color: rgb(255, 255, 255);
    background-color: blue
    
}

a {
    color: rgb(255, 0, 0);
}


#Avaliacoes h2 {
    margin-bottom: 2rem;
}

.box-avaliacao p {
    text-align: justify;
}

.nome {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

.foto-perfil img {
    border-radius: 15px;
    width: 100%;
    padding: 0px;
    margin-bottom: 1rem;
}


.text h4, .text p {
    margin-left: 2rem;
}

.text .row {
    margin-top: 1rem;
}

#Entrevista h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#Entrevista button {
    margin-top: 0rem;
    margin-bottom: 2rem;
}


hr {
    border: 1px solid;
}

.noticias img {
    max-width: 100%;
}

.noticias p {
    text-align: justify;
}

.tags div {
    display: inline;
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 15px;
    padding: 5px;
    font-size: 0.9rem;
}

.redes h3 {
    margin-bottom: 0.5rem;
    color: rgb(250, 8, 8);
}

.row hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tags {
    margin-bottom: 1rem;
}

#Novidades h2 {
    margin-bottom: 1rem;
}

#Novidades i {
    font-size: 2rem;
}

.icones i {
    font-size: 2.5rem !important;
}

.sobre-descricao {
    margin-bottom: 0px;
    text-align: justify;
}

.editorial h2 {
    margin-top: 2rem;
}

.redes h3 {
    margin-top: 1rem;
}

.icones i:hover {
    color: rgb(255, 2, 2);

}


.footer p {
    font-size: 1.1rem;
    margin-bottom: 0px;
    margin-left: 20px;
}

.footer img {
    width: 150px;
    padding: 1rem;
}


@media screen and (min-width: 1199.98px) and (max-width: 1399.98px) {



.video iframe {
    margin-left: 6.5rem;
    width: 70%;
}

.info p, .p-avaliacao, .avaliacao {
    font-size: 1rem;
}


.banners img {
    width: 95%;
}

.categorias {
    font-weight: 500;
    margin-left: 26rem ;
    
}
.colapso {
    width: 50%;
    margin-left: 17rem;
}


.text h4, .text p {
    margin-left: 0rem;
}


}


@media (min-width: 992px) and (max-width: 1199.98px) {

body {
    font-size: 1rem;
}

h1 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.1rem;
}

.nome {
    font-size: 1.3rem;
}


li:nth-child(5) {
    display: none;
}

li:nth-child(4) {
    display: none;
}


.video iframe {
    margin-left: 5.3rem;
    width: 70%;
}



.banners img {
    width: 95%;
}

.categorias {
    margin-left: 20rem ;
}

.colapso {
    width: 70%;
    margin-left: 8.3rem;
}


.textinhos h4, .textinhos p {
    margin-left: 0rem;
}


.editores h2 {
    margin-bottom: 1rem;
}

.redes h3 {
    margin-bottom: 1rem;
}


 .footer p {
     font-size: 0.9rem;
 }

}

@media screen and (min-width: 768px) and (max-width: 991.98px) {


.video iframe {
    display: flex;
    margin: 0 auto 2rem;
    justify-content: center;
}

.descricao h3, .sinopse, .p-avaliacao, .avaliacao {
    margin-left: 3rem;
}

.info {
    margin-left: 3.4rem;
    width: 100%;
}

.carousel-control-next, .carousel-control-prev {
    display: none;
}

.banners img {
    width: 90%;
    padding-bottom: 2rem;
}

.categorias {
    margin-left: 12.5rem ;
}

.colapso {
    width: 90%;
    margin-left: 2rem;
}

#Destaque button {
    margin-top: 0rem;
}


.foto-perfil img {
    width: 100%;
}

.descricao_1, .descricao_2, .descricao_3 {
    margin-bottom: 1rem;
}


.text h4, .text p {
    margin-left: 0rem;
}

.videos {
    margin-bottom: 2rem;
}


.editores h2 {
    margin-bottom: 1rem;
}

.redes h3 {
    margin-bottom: 1rem;
}

#Novidades img {
    width: 50%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.Novidades {
    margin-bottom: 0rem;
}

.news h4 {
    text-align: center;
}

.sobre {
    margin-top: 2rem;
}



.footer p {
    font-size: 0.9rem;
}

}


@media screen and (min-width: 576px) and (max-width: 767.98px) {


.video iframe {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.carousel-control-next, .carousel-control-prev {
    display: none;
}

.descricao h3, .sinopse, .p-avaliacao, .avaliacao {
    margin-left: 3rem;
}

.info {
    margin-left: 3.4rem;
    width: 100%;
}

.banners img {
    margin-bottom: 2rem;
}

.categorias {
    margin-left: 7rem ;
}

.colapso {
    width: 80%;
    margin-left: 3rem;
}

#Destaque button {
    margin-top: 0rem;
}


#Avaliacoes h2 {
    text-align: center;
}

.descricao_1, .descricao_2, .descricao_3 {
    margin-bottom: 1rem;
}


.videos {
    margin-bottom: 1rem;
}

.videos iframe {
    width: 100%;
    height: 300px;
}

#Entrevista button {
    margin-top: 0rem;
}

#Entrevista h2 {
    text-align: center;
}

.text h4 {
    text-align: center;
}

.text h4, .textinhos p {
    margin-left: 0rem;
}

#Novidades img {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.news h4 {
    text-align: center;
}

#Novidades h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.sobre {
    margin-top: 2rem;
}


.footer img {
    display: none;
}

.footer p {
    text-align: center;
    padding: 1rem;
}

}


@media screen and (max-width: 575.98px) {


.header img {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}


.video iframe {
    display: flex;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.info p, .elenco div, .info div {
    padding: 0;
    margin-left: 0rem;
}

.nomes {
    margin-left: 0 !important;
}

.carousel-control-next, .carousel-control-prev {
    display: none;
}

.descricao h3, .sinopse, .p-avaliacao, .avaliacao {
    margin-left: 3rem;
}

.info {
    margin-left: 3.4rem;
    width: 100%;
}

#lancamento h3 {
    text-align: center;
}


.banners img {
    padding-bottom: 2rem;
    margin-bottom: 0rem;
    width: 80%;
}

.categorias {
    margin-left: 1rem;
}

.colapso {
    width: 90%;
    margin-left: 0rem;
}

#Destaque h2 {
    text-align: center;
}

#destaque button {
    margin-top: 0rem;
}


.foto-perfil img {
    width: 130%;
}

#Avaliacoes h2 {
    text-align: center;
}

.descricao_1, .descricao_2, .descricao_3 {
    margin-bottom: 1rem;
}


.videos {
    margin-bottom: 1rem;
}

.videos iframe {
    width: 100%;
    height: 300px;
}

#Entrevista button {
    margin-top: 1rem;
}

#Entrevista h2 {
    text-align: center;
}

.text h4 {
    text-align: center;
}

.text h4, .textinhos p {
    margin-left: 0rem;
}


#Novidades img {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.noticia h4 {
    text-align: justify;
}

#Novidades h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.sobre {
    margin-top: 2rem;
}


.footer img {
    display: none;
}

.footer p {
    text-align: center;
    padding: 1rem;
}

}


